## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,51.80,71,20,36.82,few clouds
1,1,Bredasdorp,ZA,-34.5322,20.0403,68.00,77,76,6.91,broken clouds
2,2,Luderitz,NaN,-26.6481,15.1594,67.78,60,0,19.13,clear sky
3,3,Ketchikan,US,55.3422,-131.6461,41.00,100,90,2.80,moderate rain
4,4,Angoche,MZ,-16.2325,39.9086,78.98,92,95,4.74,light rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 95

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,51.80,71,20,36.82,few clouds
1,1,Bredasdorp,ZA,-34.5322,20.0403,68.00,77,76,6.91,broken clouds
2,2,Luderitz,NaN,-26.6481,15.1594,67.78,60,0,19.13,clear sky
3,3,Ketchikan,US,55.3422,-131.6461,41.00,100,90,2.80,moderate rain
4,4,Angoche,MZ,-16.2325,39.9086,78.98,92,95,4.74,light rain
6,6,Ponta Do Sol,PT,32.6667,-17.1000,51.01,63,94,3.00,overcast clouds
7,7,Cape Town,ZA,-33.9258,18.4232,68.00,77,0,9.22,clear sky
8,8,Yulara,AU,-25.2406,130.9889,68.00,60,90,11.50,overcast clouds
10,10,El Tigre,VE,8.8875,-64.2454,80.98,63,69,14.79,broken clouds
11,11,Hervey Bay,AU,-25.2986,152.8535,84.00,60,61,4.00,broken clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             476
City                   476
Country                470
Lat                    476
Lng                    476
Max Temp               476
Humidity               476
Cloudiness             476
Wind Speed             476
Current Description    476
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(how='any')
clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,51.80,71,20,36.82,few clouds
1,1,Bredasdorp,ZA,-34.5322,20.0403,68.00,77,76,6.91,broken clouds
3,3,Ketchikan,US,55.3422,-131.6461,41.00,100,90,2.80,moderate rain
4,4,Angoche,MZ,-16.2325,39.9086,78.98,92,95,4.74,light rain
6,6,Ponta Do Sol,PT,32.6667,-17.1000,51.01,63,94,3.00,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
681,681,Andros Town,BS,24.7000,-77.7667,59.00,77,0,3.44,clear sky
682,682,Lusambo,CD,-4.9667,23.4500,70.83,92,89,1.57,overcast clouds
683,683,Gilbues,BR,-9.8317,-45.3439,76.30,78,70,2.48,broken clouds
684,684,Lazaro Cardenas,MX,17.9583,-102.2000,78.69,70,0,7.07,clear sky
687,687,Riberalta,BO,-10.9833,-66.1000,75.52,96,100,3.36,moderate rain

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,51.80,few clouds,-54.8000,-68.3000,
1,Bredasdorp,ZA,68.00,broken clouds,-34.5322,20.0403,
3,Ketchikan,US,41.00,moderate rain,55.3422,-131.6461,
4,Angoche,MZ,78.98,light rain,-16.2325,39.9086,
6,Ponta Do Sol,PT,51.01,overcast clouds,32.6667,-17.1000,
7,Cape Town,ZA,68.00,clear sky,-33.9258,18.4232,
8,Yulara,AU,68.00,overcast clouds,-25.2406,130.9889,
10,El Tigre,VE,80.98,broken clouds,8.8875,-64.2454,
11,Hervey Bay,AU,84.00,broken clouds,-25.2986,152.8535,
12,Soavinandriana,MG,60.46,overcast clouds,-19.1667,46.7333,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,51.80,few clouds,-54.8000,-68.3000,Albatros Hotel
1,Bredasdorp,ZA,68.00,broken clouds,-34.5322,20.0403,Bredasdorp Country Manor
3,Ketchikan,US,41.00,moderate rain,55.3422,-131.6461,Snows Cove Lodge
4,Angoche,MZ,78.98,light rain,-16.2325,39.9086,Guest House HESADA
6,Ponta Do Sol,PT,51.01,overcast clouds,32.6667,-17.1000,Hotel do Campo
7,Cape Town,ZA,68.00,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
8,Yulara,AU,68.00,overcast clouds,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
10,El Tigre,VE,80.98,broken clouds,8.8875,-64.2454,Hotel Santa Cruz
11,Hervey Bay,AU,84.00,broken clouds,-25.2986,152.8535,Shelly Bay Resort
15,Puerto Ayora,EC,79.00,scattered clouds,-0.7393,-90.3518,Castillo Galapagos

In [33]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))